.button{


    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center; 
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s; /*transição qunaod passar cursou no mouser será 0,2s tempo */

    img{
        margin-right: 8px;
    }

    &.outlined{

    background: #fff;
    color: #835afd;
    border: 1px solid #835afd;
 
    } /* " & ", lendo sobre liguangem seria quando for .outlined terá essa propriedade*/

    &:hover{

        filter: brightness(0,9); /*diminuir brighhtness ficar um pouco escuro quando passar o mouser no button */
    }

    &:disabled{

        opacity: 0.6;
        cursor: not-allowed;
    }

}